@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 16%, 24%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  font-family: 'Overpass', sans-serif;
  font-size: 62.5%;
}

main {
  background: var(--very-dark-blue);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.card {
  background: var(--dark-blue);
  padding: 3.2rem;
  border-radius: 3.2rem;
}

section.card h1.titulo {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 1.8rem;
}

section.card p.paragrafo {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--light-grey);
}