section.card div.img-strela img{
  background: var(--medium-grey);
  border-radius: 50%;
  padding: .8rem;
  margin-bottom: 2.2rem;
}

section.card nav.lista-avaliacao {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 1.8rem 0;
}

section.card nav.lista-avaliacao button.item {
  background: var(--medium-grey);
  color: var(--light-grey);
  padding: 1.2rem;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.6rem 2rem;
  transition: .3s all;
}

section.card nav.lista-avaliacao button.focus {
  background: var(--light-grey);
  color: var(--white);
}

section.card nav.lista-avaliacao button.item:hover {
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
}

section.card button.submit {
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 1.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  padding: 1.2rem 0;
  width: 100%;
  transition: .3s all;
  text-transform: uppercase;
}

section.card button.submit:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}
